<h1 class="text-primary text-center mt-3">Kittens: </h1>

<%= link_to "Create new kitten", new_kitten_path, class: "btn btn-success px-3 py-2"%>


<hr class="my-3" />


<% @kittens.each do |kitten| %>

<div class='card mx-auto my-4' style="width:60%;">
  <div class="card-body">
    <h2 class="card-title text-primary mb-2">Name: <strong><%= link_to "#{kitten.name}", kitten %></strong></h3>
    <h3 class="card-subtitle text-muted">ID: <%= kitten.id %></h3>
    <h4 class="card-text text-primary mb-2">Age: <strong><%= kitten.age %></strong></h3>
    <h4 class="card-text text-primary">Softness: <strong><%= kitten.softness %></strong></h3>
    <%= link_to kitten, method: :delete, data: {confirm: "Are you sure you want to delete this tweet?"} do %>
      <p class="btn btn-danger px-3 py-2 text-center card-text">Destroy</p>
    <% end %>
    <%= link_to 'Edit', edit_kitten_path(kitten), class: "btn btn-warning px-3 py-2 text-center card-text"%>
  </div>
</div>
<% end %>